<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="room.css">
    <title>Document</title>
</head>

<body>
    <div class="mainContainer">
        <div class="mainParent">
            <div class="logoPart">
                <div class="left">
                    <img src="images/chat.svg" alt="">
                    <span>lOGO</span>
                </div>
                <div class="right">
                    <button id="leaveRoom">leave</button>
                </div>
            </div>
            <div class="middleSection">
                <div class="rooomAndusers">
                    <span style="padding-left: .2rem;">RoomName</span>
                    <div class="roomInfo">
                        <span id="roomName"> JavaScript </span>
                    </div>
                    <span style="padding-left: .2rem;">Users</span>
                    <div class="users">
                        
                    </div>
                </div>
                <div  id="mainChatPart" class="mainChatPart">
                   
                </div>
            </div>
            <div class="bottom">
                <input type="text" placeholder="Type something..." id="message">
                <button id="send"> send </button>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="room.js"></script>

</body>

</html>